<template name="header">
  <nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <img src="logo.png" class="navbar-brand"/>
      <a class="navbar-brand" href="#">MyAppointments</a>
    </div>
    <div class="hidden">{{loading}}</div>
    {{#if currentUser}}
    <div class="collapse navbar-collapse" id="navigation">
      <ul class="nav navbar-nav navbar-right">
        <div class="btn-toolbar">
          <button type="button" class="btn btn-primary btnRefresh"><span class="glyphicon glyphicon-refresh"></span></button>
          <button type="button" class="btn btn-danger btnLogout">Logout {{currentUserName}}</button>
        </div>
      </ul>
    </div>
    {{/if}}
  </nav>
</template>
