<template name="appointmentItem">
  <div class="panel panel-default">
    <div class="panel-heading clearfix">
      <h2 class="panel-title pull-left">{{appointmentTypeName}} Appointment  ({{daysAway}})</h2>
      </div>
      <div class="list-group">
        {{#if pageShown '1'}}
        <div class="list-group-item">
          <h4 class="list-group-item-heading">
                <button class="btn btn-small btn-info">
                  <span class="glyphicon glyphicon-calendar"></span></button>
{{appointmentDateTime}}
              </h4>
        </div>
        {{#if siteFound}}
        {{#if detailAvailable}}
        <div class="list-group-item">
          <h4 class="list-group-item-heading"><button class="btn btn-small btn-info mapItem"><span class="glyphicon glyphicon-map-marker"></span></button> {{siteName}}</h4>
          {{#if mapShown}}
          <div class="map-container">
            {{> googleMap name="exampleMap" options=exampleMapOptions}}
          </div>
          {{/if}}
          <p class="list-group-item-text">{{address}}</p>
          <p class="list-group-item-text">{{addressLine2}}</p>
        </div>
        {{/if}}
        {{/if}}
        {{#if phoneFound}}
        {{#if detailAvailable}}
        <div class="list-group-item">
          <h4 class="list-group-item-heading"><a href="tel:{{sitePhone}}" class="btn btn-small btn-info"><span class="glyphicon glyphicon-earphone"></span></a> {{sitePhone}}</h4>
        </div>
        {{/if}}
        {{/if}}
        {{#if instructionsFound}}
        <div class="list-group-item">
          <p class="list-group-item-text"><span class="glyphicon glyphicon-flag"></span>
          {{instructions}}</p>
        </div>
        {{/if}}
        {{else}}

        <div class="list-group-item">
          <h4 class="list-group-item-heading">Deparment</h4>
          <p class="list-group-item-text">{{departmentName}}</p>
        </div>

        <div class="list-group-item">
          <h4 class="list-group-item-heading">Clinician</h4>
          <p class="list-group-item-text">{{resourceName}}</p>
        </div>

        <div class="list-group-item">
          <h4 class="list-group-item-heading">Duration</h4>
          <p class="list-group-item-text">{{duration}}</p>
        </div>

        <div class="list-group-item">
          <h4 class="list-group-item-heading">Online Booking Code</h4>
          <p class="list-group-item-text">{{onlineBookingCode}}</p>
        </div>
        {{/if}}
      </div>
      <div class="panel-footer">
        {{#if canCancel}}
        <button class="btn btn-danger pull-left cancelAppointment">Cancel Appointment</button>
        {{/if}}
        <a class="btn btn-primary pull-right btnNextPage" href="#">
        {{#if pageShown '1'}}
         <span class="glyphicon glyphicon-chevron-right"></span>
         {{else}}
         <span class="glyphicon glyphicon-chevron-left"></span>
         {{/if}}
         </a>
       </div>
  </div>
</template>
